# ==== NODE / SERVER ===
server/node_modules

coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env & secrets
.env
/.fleet
/.idea
/.vscode

# === Frontend (CRA/Vite/Next/etc.) ===
client/node_modules/
client/dist/
client/build/
logs
*.log

# ==== REACT / CLIENT ===
client/node_modules
